.main {
  width: 1500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* margin: 0 auto; */
  background-color: rgb(9, 192, 238);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
}
.place {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
}
.out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
  /* border: 1px solid black; */
  width: 100px;
  height: 70px;
  /* border-radius: 1px; */
  /* transition: border, box-shadow 0.3s; */
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); */
  position: absolute;
}
.h1Text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.hi {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0 auto;
  margin-top: 300px;
  font-size: 80px;
  justify-content: center;
  align-items: center;
}
.out:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.712);
  border: 1px solid rgb(6, 21, 41);
  border-radius: 5px;
}

#id1 {
  left: 10px;
  top: 50px;
  background-image: url(/car.png);
  background-repeat: no-repeat;
}
#id2 {
  left: 10px;
  top: 150px;
  background-image: url(/img/car_darkBlue.svg);
  background-repeat: no-repeat;
}
#id3 {
  left: 10px;
  top: 250px;
  background-image: url(/img/car_green.svg);
  background-repeat: no-repeat;
}
#id4 {
  left: 10px;
  top: 350px;
  background-image: url(/img/car_orange.svg);
  background-repeat: no-repeat;
}
#id5 {
  left: 10px;
  top: 450px;
  background-image: url(/img/car_purp.svg);
  background-repeat: no-repeat;
}
#id6 {
  left: 10px;
  top: 550px;
  background-image: url(/img/car_red.svg);
  background-repeat: no-repeat;
}

#id7 {
  left: 10px;
  top: 650px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}
#id8 {
  left: 10px;
  top: 750px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}
#id9 {
  left: 10px;
  top: 850px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}
#id10 {
  left: 10px;
  top: 950px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}
#id11 {
  left: 10px;
  top: 1050px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}
#id12 {
  left: 10px;
  top: 1150px;
  background-image: url(car.png);
  background-repeat: no-repeat;
}

.go {
  position: absolute;
  top: 660px;
  margin: 0 auto;
  background-color: rgb(46, 241, 39);
  width: 100px;
  min-height: 50px;
  transition: border, box-shadow 0.3s;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5px;
  position: relative;
}

.go:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.712);
  border: 1px solid rgb(6, 21, 41);
}
